@charset "euc-kr";
caption,
legend {
    position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font-size:0;
}
body{font-size:12px;font-weight:400; font-family:'나눔고딕','Nanum Gothic',"Malgun Gothic",ngwoff, ngeot, nmwoff, nmeot,'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana;}
/* Form & button */
input{color:#707070;}
input[type="text"] {padding:3px 5px 0; height:24px;border:0;font-size:12px; vertical-align:middle;}
input[type="checkbox"]{width:13px;height:13px;margin:0;padding:0;vertical-align:middle;}
input[type="radio"]{width:13px;height:13px;vertical-align:middle;margin-top:-1px;_margin-top:0;}
select {font-family:NanumGothic,"나눔고딕";vertical-align:middle;font-size:12px; line-height:20px; padding:3px 0;; border-left:1px solid #c2c5cc; border-top:1px solid #c1c6cc; border-bottom:1px solid #e0e3ea; border-right:1px solid #e0e3ea;color:#707070;}
select option{font-family:NanumGothic,"나눔고딕";}

textarea {color:#464646; border:1px solid #b9c6d4; padding:5px; vertical-align:top; font-size:12px; line-height:16px;font-family: NanumGothic,sans-serif; color:#707070;}
button {overflow: hidden; margin: 0; padding: 0; border: 0 none; font-family:NanumGothic,"나눔고딕",Dotum,"돋움",Gulim,"굴림",Verdana,sans-serif;  cursor: pointer;}
/* fireFox button */
button::-moz-focus-inner{padding:0; margin:0;}
a{color:#5e727b; text-decoration:none;}

.width-full{width:99% !important;}
/* font-color */
.fc-ty1{color: #fd891d !important;}
.color-blue{color:#5bc9f2;}
.fc-ty2{color:#ff2a3a !important;}
.fc-ty3{color:#fc6470 !important;}
.fc-ty4{color:#2cbcf2 !important;}


/* titlt */
.tit-ty1{color:#364952;font-size:15px;font-weight:600;}
.tit-ty2{color:#364952;font-size:13px;font-weight:600;}

/* 탭 공통 - 이미지형 */
.tab-ty1{width:100%;height:32px;border-bottom:2px solid #7c939e; }
.tab-ty1 li{float:left; width:50%;}
.tab-ty1 li a{display:block;height:20px;margin-left:-1px;padding-top:10px;border:1px solid #e5e5e5; border-bottom:0;text-align:center;background:#fff;}
.tab-ty1 li:first-child a{margin-left:0;}
.tab-ty1 li a.on{height:21px;padding-top:11px;border:0;background-color:#7c939e; }
.tab-ty1 li a.on span{color:#fff !important;}
.tab-ty1 li a span{display:inline-block;width:52px;height:14px;text-indent:-9999em}

/* 탭 공통 - 텍스트형 */
.tab-ty3{width:100%;height:39px;border-bottom:2px solid #7c939e; }
.tab-ty3 li{float:left; width:50%;}
.tab-ty3 li a{display:block;height:27px;margin-left:-1px;padding-top:11px;border:1px solid #e5e5e5; border-bottom:0;text-align:center;background:#fff;}
.tab-ty3 li:first-child a{margin-left:0;}
.tab-ty3 li a.on{height:27px;padding-top:12px;border:0;background-color:#7c939e;}
.tab-ty3 li a.on span{color:#fff !important;}
.tab-ty3 li a span{display:inline-block;font-size:15px;font-weight:600;}


/* 공통 */
button.btn{box-sizing: content-box;}
.btn,
.btn * {margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:NanumGothic,"나눔고딕",dotum,arial;
    white-space:nowrap; vertical-align:middle; overflow:visible; color:#fff; }
.btn *{cursor:pointer; cursor:hand; vertical-align:middle;}

.search-ty1{width:32px;height:32px;background:#fff url(/images/btn_search_01.png) no-repeat 50% 50%;}
.xs-ty1{padding:0 5px; height:18px; color:#8d9ea6; background-color:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #cad8dc; font-weight:600;}
.btn-xs-ty2{padding:0 5px; height:18px; color:#5e727b; background-color:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #94aab4; font-weight:400;}
.btn-ty1-xs{min-width:27px;padding:0 15px; height:20px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background-color:#5e727b;color:#fff;font-size:12px;line-height:20px;}
.more-ty1{padding:0 6px; height:18px;  color:#819daa; background-color:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #eaeaea; line-height:17px;font-weight:400;}
.more-ty2{padding:0 13px; height:30px;  color:#fff; background-color:#ff912b; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;line-height:29px;font-weight:600;}
.setting-ty1{width:23px;height:23px;background:url(/images/ico_setting_02.png) no-repeat 0 0;}
.setting-ty2{width:18px;height:18px;background:url(/images/ico_setting_01.png) no-repeat 0 0;}
.prev-ty1{width:20px;height:19px;background:url(/images/btn_prev_01.png) no-repeat 0 0;}
.next-ty1{width:20px;height:19px;background:url(/images/btn_next_01.png) no-repeat 0 0;}
.tag-ty1{color:#fff;background:#5e727b;min-width:60px;height:27px;line-height:27px;text-align:center;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #5e727b;}
.tag-ty2{color:#5e727b;background:#fff;min-width:60px;height:27px;line-height:27px;text-align:center;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #b0babd;}
.tag-ty2.selected{color:#fff;background:#5e727b;font-weight:bold;}
.apply-ty1{min-width:50px;height:27px;padding:0 5px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background:#2cbcf2;color:#fff; text-align:center;}
.apply-ty2{min-width:50px;height:27px;padding:0 5px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background:#ff912b;color:#fff; text-align:center;}
.cansel-ty1{background:#fff;color:#2f4255;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #b0babd; width:60px;height:25px;text-align:center;}
.return-ty1{background:#3b4d57;color:#fff;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; width:60px;height:27px;text-align:center;}

.btn-txtDel-ty2,
.btn-txtDel{background:none;color: #71b3cb;font-size:12px;}
.btn-txtDel-ty2{color: #8da5af;}
.btn-txtDel > span,
.btn-txtDel-ty2 > span{font-size: 0;line-height: 0;text-indent: -9999px;}

/* 출근부 스케쥴태그 */
.schedule-color1, .schedule-color2, .schedule-color3, .schedule-color4, .schedule-color5, .schedule-color6, .schedule-color7, .schedule-color8, .schedule-color9{display:block;width:100%;height:13px;padding:4px 0 3px;color:#fff;font-size:12px;text-align:center;}
.schedule-color1 a, .schedule-color2 a, .schedule-color3 a, .schedule-color4 a, .schedule-color5 a, .schedule-color6 a, .schedule-color7 a, .schedule-color8 a, .schedule-color9 a{display:block;color:#fff;}
.schedule-color1{background:#ff8e74;}
.schedule-color2{background:#ffb83c;}
.schedule-color3{background:#dacf0f;}
.schedule-color4{background:#9bce2e;}
.schedule-color5{background:#acb8f4;}
.schedule-color6{background:#aaaaaa;}
.schedule-color7{background:#d481c7;}
.schedule-color8{background:#fa5e6a;}
.schedule-color9{background:#5acc65;}


.btn-gray27,.btn-white30,
.btn-orange30, .btn-blue30, .btn-gray30, .btn-gray30-ty2{height:30px;min-width:64px;padding:0px 8px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-align:center;color:#fff;font-size:13px;line-height:30px;}
.btn-white30{height:28px;background:#fff;border:1px solid #b0babd;color:#2f4255;line-height:28px;}
.btn-orange30{background:#ff912b;}
.btn-blue30{background:#2cbcf2;}
.btn-gray27{height:27px;}
.btn-gray27,.btn-gray30{background:#5e727b;}
.btn-gray30-ty2{background:#3b4d57;}
.wid90{width:90px;}

.btn-white-img1, .btn-white-img2, .btn-white-img3{background-color:#fff;color:#2f4255;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #b0babd; width:70px; height:30px;text-align:left;padding:0 0 0 7px;font-size:11px;}
.btn-white-img1{background:url(/images/ico_play.png) no-repeat 54px center;}
.btn-white-img2{background:url(/images/ico_stop.png) no-repeat 54px center;}
.btn-white-img3{background:url(/images/ico_end.png) no-repeat 54px center;}

.btn-excel-img{background:url(/images/ico_excel.gif) #018752 no-repeat 54px center;color:#fff;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;min-width:70px; height:20px;text-align:left;padding:0 0 0 7px;font-size:11px;}

.btn-plus-ty1{width:18px;height:18px;background:url(/images/btn_plus.png) no-repeat 0 0;}
.btn-minus-ty1{width:18px;height:18px;background:url(/images/btn_minus.png) no-repeat 0 0;}

.btn-plus-ty2{min-width:60px;height:20px;line-height:20px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background:#ade7fe;color:#3b4d57;text-align:center;}
.btn-clear-ty1{min-width:60px;height:20px;line-height:20px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;background:#e4f1f7;color:#3b4d57;text-align:center;}

/* form */
input[type="radio"]{display:none;position:absolute;left:0;top:0;font-size:0;line-height:0;text-indent:-9999em;}
input[type="radio"] + label{background:url(/images/bg_radio.png) no-repeat 0 0;position:relative;height:14px;line-height:14px;padding-left:20px;cursor:pointer;}
input[type="radio"]:checked + label{background:url(/images/bg_radio_check.png) no-repeat 0 0;}

.select{border:1px solid #e5e5e5;height:30px;}
.input-text-ty1 input[type="text"]{height: 22px;border:1px solid #e5e5e5;font-size: 1em;line-height: 22px;}
.input-text-ty1 .hyphen {display: inline-block;width: 20px;height: 1px;background: url(/images/txt_hyphen.gif) no-repeat 50% 0;text-indent: -9999px;vertical-align: middle;}

/* 태그 */
.tag-list {color:#3b4d57;padding:10px 0 3px;word-wrap:break-word;}
.tag-list > span {display:inline-block; margin:0 14px 5px 0;}
.tag-list button{margin: 0; padding: 0;display: -moz-inline-stack;display: inline-block;text-decoration: none !important;border: 0;font-size: 12px; font-family: NanumGothic,"나눔고딕",dotum,arial;white-space: nowrap;vertical-align: middle; overflow: visible;
    color: #fff;}
.tag-list > span button.btn{background:none;color:#3b4d57;font-weight:600;}
.tag-list.btn-type > span button.btn{min-width:30px;height:24px;padding:0 10px;border:1px solid #e7e6e6;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff;color:#5e727b;text-align:center;line-height:24px;}
.tag-list > span .Del{margin-left:5px;background-color:#fff;color:#71b3cb;font-size:12px;font-weight:400;vertical-align:middle;}


/* favorites - 버튼형- */
.btn-favorites-ty1{padding:4px;background-color:#fff;webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #e5e5e5;text-align:left;}
.btn-favorites-ty1 span{display:inline-block;width:17px;height:15px;background:url(/images/ico_favorites.png) no-repeat 0 0;text-indent:-9999em;}
.btn-favorites-ty1.on span{background-image:url(/images/ico_favorites_on.png)}

/* favorites - 텍스트형- */
.btn-favorites-ty2{background:none;}
.btn-favorites-ty2 span{display:inline-block;width:17px;height:15px;background:url(/images/ico_favorites.png) no-repeat 0 0;}
.btn-favorites-ty2.on span{background-image:url(/images/ico_favorites_on.png)}

/* box */
.board-wrap{position:relative;padding:20px 20px 10px; border:1px solid #e5e5e5; border-top:1px solid #a2b4bd;}

/* 전체 직원 게시판 - 게시판리스트 - 테이블형 */
.tbl-board-list{margin-top:10px;}
.tbl-board-list tbody td{border-top:1px solid #e5e5e5;}
.tbl-board-list tr:hover td{background-color:#f4f4f4;}
.tbl-board-list .subject{padding:10px 0 10px 0;}
.tbl-board-list .subject a{padding:0 3px 0 22px;background:url(/images/bul_board.gif) no-repeat 0 50%;font-size:13px; color:#5e727b; font-weight:400;}
.tbl-board-list .subject .reple{display:inline-block;margin-left:6px;color:#fd891d;}
.tbl-board-list .date{color:#94aab4;font-size:12px;text-align:left;font-weight:400;}
.tbl-board-list .date.today{color:#fd891d;}

/* 말머리가있는 게시판 */
.tbl-board-list.summary tbody td{height:13px;border-bottom:1px solid #e5e5e5; border-top:0;}
.tbl-board-list.summary tbody tr:first-child td{border-top:1px solid #e5e5e5;}
.tbl-board-list.summary .head-cate{padding-right:10px;color:#5e727b;letter-spacing:-1px;}
.tbl-board-list.summary .subject{padding:10px 0 9px 0;letter-spacing:-1px; }
.tbl-board-list.summary a{padding-left:0; background-image:none;font-size:12px;}
.tbl-board-list.summary .date{text-align:right;}
.tbl-board-list.summary .subject .reple,
.tbl-board-list.summary .date.today{color:#2cbcf2;}

/* table type1 */
.tbl-list {position:relative;}
.tbl-list table {font-size:13px;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.tbl-list table thead th{background:#cddadc;color:#364952;padding:13px 0 12px;font-weight:600;}
.tbl-list table tbody th{background:#f4f4f4;color:#364952;text-align:left;}
.tbl-list table tbody th, .tbl-list table tbody td{padding:12px 10px 11px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.tbl-list table tbody td:first-child{text-align:left;}
.tbl-list table tbody td{text-align:center;background:#fff;}
.tbl-list > button{text-align:left;}

/* 업무요청리스트 */
.tbl-list.tbl-list-ty2{}
.tbl-list.tbl-list-ty2 tr th:first-child,
.tbl-list.tbl-list-ty2 tr td:first-child{padding-left:28px;font-size:0;}
.tbl-list.tbl-list-ty2 td:first-child .btn{margin:1px 3px 0 -22px;}
.tbl-list.tbl-list-ty2 td:first-child a{font-size:13px;vertical-align:middle;}
.tbl-list.tbl-list-ty2 .tree-node td{background-color:#edf3f5;}
.tbl-list.tbl-list-ty2 .tree-node td:first-child > a{display:inline-block;padding-left:11px;background:url(/images/bg_treenode.png) no-repeat 0 50%;}


.paging-typ1{margin-bottom:8px;color:#819daa;font-size:0;font-weight:600;}
.paging-typ1 .t-pager{display:inline-block;margin-right:9px;height:19px;font-size:12px;line-height:19px;vertical-align: middle;}
.paging-typ1 strong{color:#3b4d56;}
.paging-typ1 .prev-ty1{margin-right:2px;}

.board-wrap .btn.more-ty1{position:absolute; right:20px; top:20px;}

/* 게시판 카테고리 */
.board-categorys{position:relative;}
.board-categorys .btn.setting-ty1{position:absolute; right:-4px; top:-19px;}
.category-btn-set{font-size:0;margin:15px 0 20px -5px;}
.category-btn-set .btn-board-insert,
.category-btn-set a{display:inline-block;height:24px;padding:0 12px;margin:5px 0 0 5px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #e7e6e6;background-color:#fff;color:#5e727b;font-size:13px;line-height:24px;font-weight:400;}
.category-btn-set .btn-board-insert {padding-left:25px;background:#e9eef1 url(/images/ico_plus.gif) no-repeat 12px 50%;}
.category-btn-set .btn-board-insert span{}
.category-btn-set a:hover{padding:0 13px;background-color:#5bc9f2; color:#fff; border:0;}

/* 텍스트 정렬 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

/* layer- confrim */
.confirm-layer{border:3px solid #7c939e;background:#f4f4f4;position:absolute;right:0;bottom:0;width:340px;padding:54px 10px 30px;text-align:center;box-sizing:border-box;}
.confirm-layer p strong{font-size:16px;font-weight:600;display:block;}
.confirm-layer p {font-size:15px;}
.confirm-layer.tc{text-align:center;}
.confirm-layer .close{position:absolute;right:0;top:0;z-idnex:1;}

/* title box */
.pageTitleBox{overflow:hidden;position:relative;height:52px;margin:22px 0 30px 0;border:1px solid #e5e5e5;border-top:1px solid #a2b4bd;}
.pageTitleBox h2{float:left;margin:18px 0 0 22px; color:#364952;font-size:16px;font-weight:bold;}
.pageTitleBox > h2 > span{font-weight:normal;}
.pageTitleBox > div{float:right;margin:11px 11px 0 0;}
.pageTitleBox .tag-search{float:right;position:relative;}
.pageTitleBox .tag-search > span{position:absolute;left:3px;top:3px;z-index:10;}
.pageTitleBox .tag-search .radio-ty1, .taskTitBox .tag-search .radio-ty2{float:left;}
.pageTitleBox .tag-search .input-search{float:left;border:1px solid #e5e5e5;width:171px;height:28px;padding-left:107px;}
.pageTitleBox .tag-search .input-search input[type="text"]{width:75%;height:22px;margin:0}
.pageTitleBox .tag-search .input-search .search-ty1{width:28px;height:28px;}
.pageTitleBox.title{border:none;}
.pageTitleBox .title-search{position:relative;padding-left:296px;}
.pageTitleBox .title-search-input input[type="text"]{border:1px solid #e5e5e5;}
.pageTitleBox .title-search-selectbox{float:left;font-size:0;}
.pageTitleBox .title-search-selectbox select{height:30px;border:1px solid #e5e5e5;font-size:12px;}
.pageTitleBox .title-search-selectbox select + select{margin-left:10px;}
.pageTitleBox .title-search .input-search{float:left;width:180px;margin-lefT:10px;height:28px;border:1px solid #e5e5e5;}
.pageTitleBox .title-search .input-search input[type="text"]{margin:0;}
.pageTitleBox .title-search .input-search .search-ty1{width:28px;height:28px;}

/* 업무요청 및 담당업무 */
.taskWrap{padding:19px 0 12px 0;}
.item-task{position:relative; padding:0 15px;}
.item-task:first-child{padding-bottom:10px;margin-bottom:15px; border-bottom:1px solid #e5e5e5;}
.item-task ul{padding:7px 0 0 0; margin:14px 0 0 0;border-top:1px solid #e5e5e5;}
.item-task ul > li{overflow:hidden; position:relative; height:28px; line-height:28px;}
.item-task ul > li > span{color:#5e727b; font-size:13px; font-weight:600;}
.item-task ul > li > a{position:absolute; right:0; color:#364952; font-size:16px; font-weight:bold;}
.taskWrap .btn.more-ty1{position:absolute; right:15px; top:0;}

/* 영역나눔 */
.section:after{content:"";display:block;clear:both;}
.section > .fl{float:left;}
.section > .fr{float:right;}

/* padding, margin */
.mb10{margin-bottom:10px;}

/* 검색바 */
.input-search-ty1{position:relative; width:240px; height: 28px;}
.input-search-ty1 input[type="text"]{width:80%;height:21px; margin:3px 0 0 0; }
.input-search-ty1 .search-ty1{position:absolute; right:3px; top:0;width:28px;height:28px;}