@charset "utf-8";

body{background:#fafafa;}
header{width:100%; background-color:#3b4d56;}
.nav_container{overflow:hidden;width:1260px; margin:0 auto;}
.nav_container h1{width:142px; padding:20px 0 0 0;}
.nav_container #gnb{}
.nav_container #gnb li{float:left;}
.nav_container #gnb li a{display:block;height:37px; padding:22px 25px 0;color:#b2c1c8;font-size:16px;font-weight:800;text-align:center;}
/*.nav_container #gnb li a span{display:inline-block;height:16px;background:url(/images/bg_gnb_set.png) no-repeat 0 0;text-indent:-9999em;font-size:0;}*/

.nav_container #gnb li.on a,
.nav_container #gnb li a:hover{background-color:#2e434d;color:#5bc9f2;}


.nav_container h1,
.nav_container #gnb{float:left;}
.nav_container .search.top{float:right; padding:15px 0 13px 0;}
.nav_container .search.top h2{float:left;width:32px;height:32px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;background:#fff url(/images/bul_tourbaksa.png) no-repeat 50% 50%;text-indent:-9999em;}
.nav_container .search .input-search{float:left; margin-left:10px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background-color:#fff;}
.input-search{position:relative; width:240px; height: 32px;}
.input-search input[type="text"]{width:72%; margin:3px 0 0 0;border:0;}
.input-search .search-ty1{position:absolute; right:3px; top:0;}

#wrap{width:100%;color:#1e4a5e;}
#container{position:relative;display:table; width:1260px; margin:22px auto 0;}
#container:after{content:'';display:block;clear:both;}

/* 좌 컨텐츠 */
#side-left{display:table-cell;vertical-align:top;border:1px solid #cad8dc; border-bottom:0; background-color:#e0eaed;}
#side-left .input-search {position:absolute;left:-1px;top:-1px; z-index:7; width:221px; height:57px;background-color:#fcfcfc;}
#side-left .input-search .input-text{display:block;width:218px;height:34px;border:1px solid #cad8dc;}
#side-left .input-search .input-text input{width:173px;border:0;}
#side-left .input-search .search-ty1{top:1px;}
#side-left .side-itemWrap{background-color:#e0eaed;width:218px; margin:55px 0 0 0; }
#side-left .side-itemWrap > h2{height:50px;border-bottom:1px solid #cad8dc; border-top:1px solid #cad8dc;background-color:#e0eaed;font-size:24px;text-align:center;line-height:50px;}
#side-left .side-userInfo{}
#side-left .side-userInfo .user-setting{position:relative;height:41px;padding-right:75px; background-color:#e0eaed;}
#side-left .side-userInfo .user-setting > a{overflow:hidden;display:block;width:100%;font-size:13px; color:#3b4d56; font-weight: 600; line-height:40px;}
#side-left .side-userInfo .user-setting > a span{float:left;margin-left:2px;overflow:hidden;display:block;text-align:center;}
#side-left .side-userInfo .user-setting > a span + img{margin-left:5px;vertical-align:middle;}
#side-left .side-userInfo .user-setting > a em{ font-style:normal; }
#side-left .side-userInfo .user-setting > .btn{position:absolute; right:13px; top:11px;}
#side-left .side-userInfo .user-quickzone{height:51px;padding:12px 9px 0; border-top:1px solid #cad8dc; border-bottom:1px solid #cad8dc;background-color:#edf3f5; font-size:0;}
#side-left .side-userInfo .user-quickzone > a{display:inline-block; width:50px; padding:25px 0 0 0; text-align:center;}
#side-left .side-userInfo .user-quickzone > a > span{display:inline-block; height:18px; line-height:18px; font-size:12px;}
#side-left .side-userInfo .user-quickzone > a > span em{position:absolute;right:3px;top:7px;height:16px;width:16px;-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;background-color:#5bc9f2;color:#fff;font-weight:bold;font-style:normal;
    line-height:16px;
}
#side-left .side-userInfo .user-quickzone .q1{background:url(/images/ico_contact_01.png) no-repeat 50% 0;}
#side-left .side-userInfo .user-quickzone .q2{background:url(/images/ico_mail_01.png) no-repeat 50% 0;}
#side-left .side-userInfo .user-quickzone .q3{position:relative;background:url(/images/ico_message_01.png) no-repeat 50% 0;}
#side-left .side-userInfo .user-quickzone .q4{background:url(/images/ico_timecard_01.png) no-repeat 50% 0;}

.side-dep1{}

.side-dep1 > li > a{display:block;height:41px;padding-left:21px;border-bottom:1px solid #cad8dc;background:#e0eaed url(/images/bul_arrow_off.png) no-repeat 190px 50%;color:#1e4a5e;font-size:14px;font-weight:bold;line-height:41px; }
.side-dep1 > li.open > a{background:#fff url(/images/bul_arrow_on.png) no-repeat 190px 50%;color:#ff912b;}
.side-dep1 .side-dep2{display:none;padding:5px 13px 10px;background-color:#fff;border-bottom:1px solid #cad8dc;}
/*.side-dep1 > li.open .side-dep2{display:block;}*/
.side-dep1 .side-dep2 > li > a{display:block;height:25px;padding-left:10px;background:#fff url(/images/bul_plus_ty1.png) no-repeat 172px 50%;color:#819daa;font-size:12px;line-height:25px;}
.side-dep1 .side-dep2 > li.noDep.open > a ,
.side-dep1 .side-dep2 > li.noDep > a {background-image:none !important;}
.side-dep1 .side-dep2 > li.open > a{background:#e9eef1 url(/images/bul_minus_ty1.png) no-repeat 172px 50%;color:#1e4a5e;}
/*.side-dep1 .side-dep2 > li.open .side-dep2{display:block;}*/
.side-dep1 .side-dep2 > li a:hover{background-color:#e9eef1;}
.side-dep1 .side-dep2 > li + li{margin-top:5px;}
.side-dep1 .side-dep2 .side-dep3 > li + li{border-top:1px solid #e9eef1;}
.side-dep1 .side-dep2 .side-dep3 > li > a{overflow:hidden;display:block;padding-left:21px;padding-right:10px;height:24px;line-height:24px; color:#1e4a5e;}
.side-dep1 .side-dep2 .side-dep3 > li.selected > a,
.side-dep1 .side-dep2 .side-dep3 > li > a:hover{color:#2cbcf2;font-size:12px;font-weight:600;}
.side-dep1 .side-dep2 > li > .btn{margin:10px 0 0 0;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
article#content{display:table-cell;float:left; min-height:800px; padding:0 0 40px 20px;width:1020px;}
#side-left .old-intra-go{padding:20px 0 0 0;text-align:center;}
#side-left .old-intra-go a{color:#000;font-weight:600;}


/* 여행질답 &nbsp; 맞춤여행 */
.page-top-content{position:relative; margin-bottom:20px;}
.page-Location{width:100%;height:33px;border-bottom:1px solid #cad8dc;color:#1e4a5e;font-size:12px;font-weight:400;line-height:33px;}
.btn-QnaView{position:absolute;right:0;top:0;width:135px;height:32px;padding:0 9px;border:1px solid #cad8dc; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;color:#1e4a5e; -webkit-border-bottom:0px; -moz-border-bottom:0; border-bottom:0;
    background-color:#f4f4f4;font-size:12px;font-weight:400;line-height:32px;}
.btn-QnaView > a{display:block;background:url(/images/bul_arrow_ty2_down.png) no-repeat 100% 50%;}
.btn-QnaView.open > a{background-image:url(/images/bul_arrow_ty2_up.png);}

.tourQnaWrap{position:relative;margin:22px 0 0 0;}
.tab-ty1.main-qna li{width:300px;}
.tab-ty1.main-qna .t1 a > span{background:url(/images/txt_qna_tab.png) no-repeat 0 100%;}
.tab-ty1.main-qna .t2 a > span{background:url(/images/txt_qna_tab.png) no-repeat 100% -14px;}

.tab-ty1.main-qna .t1 .on > span{background:url(/images/txt_qna_tab.png) no-repeat 0 0;}
.tab-ty1.main-qna .t2 .on > span{background:url(/images/txt_qna_tab.png) no-repeat 100% 0px;}

.tab-content{display:none;}
.tab-content.active{display:block !important;}

.option-fixed{position:absolute; right:0; top:6px;height:13px;color:#1e4a5e;font-weight:600;line-height:13px;}
.option-fixed label{vertical-align:middle;}
/* 여행질답 */
.tbl-qna{}
.tbl-qna th,
.tbl-qna td{border:1px solid #eaeaea;}
.tbl-qna thead th,
.tbl-qna tbody th{background-color:#f4f4f4;color:#5c727c;font-size:11px;padding:5px 2px 6px;}
.tbl-qna tbody td{color:#1e4a5e;font-size:10px;text-align:center;}
.tbl-qna tbody td .link-ty1{color:#fd7b03;}
/* 우 컨텐츠 */
#side-right{float:left;width:240px;}

/* footer */
#footer{width:100%;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background-color:#fafafa;}
#footer .footer-container{position:relative;overflow:hidden;width:1260px; margin:0 auto;background-color:#fafafa;}
#footer .footer-container:after{content:'';display:block;clear:both;}
#footer .footer-container h2{float:left; width:220px; padding:59px 0 0 0;text-align:center;}
#footer .footer-container .copyRight {float:left; padding:23px 0 23px 25px;}
#footer .footer-container address{line-height:18px;font-size:11px;color:#848484;font-style:normal}
#footer .footer-container address span{display:block;}
#footer .footer-container em{display:inline-block;margin-top:25px;font-size:12px;color:#aaa;font-style:normal;}

/* popup */
#popwrap{background-color:#edf3f5; padding:20px 12px 13px;}
#popheader{height:40px;}
#popheader h1{}
#popcontent{}